:root {
  --clr-green: #01c3a8;
}

.single-course-card:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(168, 168, 168, 0.596) 1px 1px 20px;
  transform: translateY(-7px);
  transition: all 0.2s ease-in-out;
}
